<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApngzG7XU9IWn_qkGn22AH-LWYX-9QKgk</string>
	<key>GCM_SENDER_ID</key>
	<string>372675286874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasechat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-57e08</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-57e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372675286874:ios:8266d17ea74e5908860563</string>
</dict>
</plist>